.navbar {
    width:100%;
    padding-left: 2%;
    height:2rem;
    background-color: #141416;    
    padding: 30px;
    margin-bottom: 100px;
  }
  
  .navbar a {
    color:#e9fac8;
    text-decoration: none;
    padding: 5px;
    margin-right: 10px;
  }
  
 