
  .prod{
    margin-left: 44%;

  }
  
  .images {
    width: 200px;
    height: 200px;
    margin-top:10%;
    
  
  }
  .prod h1{
    font-size: 20px;
    color: #4e4caf;
    margin-right: 64%;


  }
  
  h2 {
    font-size: 16px;
    color: #4e4caf;
   
  }
  
  p{
    font-size: 14px;
    color: #4e4caf;
  
  }
  